<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
			background: url('/ba649fbc4fffb562dddbbcf22f4a4db2.17.jpg');background-repeat: no-repeat;background-size: cover 
		}
	</style>
	<meta charset="utf-8">
	<title>Bonjour</title>
</head>
<body>
	<center>

		<% if(elemento){ %>

		<h1>Editar</h1>
		<br><br><br>
	<form action="/updatep" method="POST">
		<input id="id" name="id" value="<%= elemento.idpriv %>" hidden>
		<h2>Notitas</h2>
		<input type="text" id="user" name="user" value="<%= elemento.elementopriv %>">
		<br><br>
		
		
		<input type="submit" value="Guardar">
		<a href="/">Cancelar</a>
	</form>

	<% } %>

</center>

</body>
</html>