<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Bonsoir JWT</title>

  </head>
  <body>
      <center>

<a href="logout">Sign out</a>

<h2>
          Bienvenido:
         
          <span><%= user.name %></span><br>
          <span><%= user.rol %></span>
         
        </h2>


    

    </center>
  </body>
</html>
