<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Geo</title>
</head>
<body>
	<center>
<h1>À revoir</h1>
<h4>Para solicitar geolocalización: <br> Debe ingresar a la vista de chat y presionar sobre el usuario que desea obtener la ubicación. A este se le solicita los permisos y una vez concedidos se muestra con un marcador en el mapa</h4>


<div id="map" style="height: 60vh;width: 80vw;"></div>


<script src="/socket.io/socket.io.js"></script>

<script src="/geol.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</center>
</body>
</html>